<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>



<p>Pokemons:
<% @trainer.pokemon.each do |pokemon| %>
	<p>
	<% if pokemon.ndex %>
	    <%= image_tag("pokemon/#{pokemon.ndex}.png", alt: "pokemon") %>
	<% end %>
	<p>
	<%= pokemon.name %>
	Level: <%= pokemon.level %>
	Health: <%= pokemon.health %>
	</p>
	<%= button_to "Damage!", damage_path(id: pokemon), :class => "button small", :method => :patch %>
	</p>
<% end %></p>